header {
    border: 4px solid white;
    padding: 3px;
    margin: 3px;
    background-color: wheat
}
#contact-info, #background-info, button {
    border: 4px solid white;
    padding: 3px;
    margin: 3px; 
    background-color: wheat;
}
#comfort-field {
    font-weight: bold;
    background-color: yellow;
}
html {
    background-color: lightblue;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
section {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}